
.red-color{
    color:#dc3545;
    }
.green-color{
    color:#25C825;
    }
.blue-color{
    color:#5E51FF ;
    }
.yellow-color{
    color:#F7AC08 ;
    }
.dark-color{
    color:rgba(43, 46, 51, 0.5);
}

